#This file should be placed inside room-sensors/webapplication/heatmap
#This file is required for settings.py to run python manage.py runserver command

SECRET_KEY = 'YOUR THINGS NETWORK KEY HERE'

ALLOWED_HOSTS = [
    'localhost',
    '127.0.0.1',
    'roomsensors-web',
]

CORS_ORIGIN_WHITELIST = (
    'localhost:8000',
    'localhost',
    '127.0.0.1:8000',
    'localhost:3000',
    '127.0.0.2:8080',
    '127.0.0.1:1433',
)

#This file is to be placed inside room-sensors/webapplication/api


TTN_BROKER = 'TTN BROKER HERE'


# Please comment out unused apps info

#Roomsensors app
TTN_USERNAME = 'TTN USERNAME HERE'
TTN_PASSWORD = 'TTN PASSWORD HERE'

TTN_TOPIC = '+/devices/+/up'



